@import 'reset';
@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'navigation';
@import 'sections';

html {
	scroll-behavior: smooth;
    width: 100%;
}

body {
    color: $fontDark;
    margin: 0 auto;
    // background: $color;
}
