// The main scss-file that import all the partials.
@import 'reset';
@import 'fonts';
@import 'colors';
@import 'mixins';
@import 'navigation';
@import 'sections';

html {
    // To smooth scroll to different internal links
	scroll-behavior: smooth;
    width: 100%;
}

body {
    color: $fontDark;
    margin: 0 auto;
}
